# (1) 데이터 정제후 데이터 읽기
## - csv 파일을 읽어 데이터 확인
## - '유임승차', '유임하자', '무임승차' '무임하차' 컬럼이 문자열이면 정수로 변환
## - 정제한 데이터 확인

In [1]:
import numpy as np
import pandas as pd

In [9]:
subway_raw = pd.read_csv('./data/subwayfree_202403.csv', encoding='utf-8')
subway_raw.head(10)

       사용월  호선명  역ID          지하철역     유임승차     유임하차    무임승차    무임하차
0  2024-03  1호선  150           서울역  1447754  1393734  227062  217639
1  2024-03  1호선  151            시청   664265   656796  111445  108138
2  2024-03  1호선  152            종각   964737   946524  152686  142688
3  2024-03  1호선  153          종로3가   499200   462956  310535  287412
4  2024-03  1호선  154          종로5가   507635   495448  270416  260685
5  2024-03  1호선  155           동대문   247676   248695  137903  139140
6  2024-03  1호선  156           신설동   307664   296760  131660  127945
7  2024-03  1호선  157           제기동   247757   240496  284893  302034
8  2024-03  1호선  158  청량리(서울시립대입구)   416357   402220  303404  304789
9  2024-03  1호선  159           동묘앞   169654   179509  183569  185429

# (2) 유임승차 비율이 가장 높은 역
## - rate = 유임승차 인원/ 무임승차 인원
## - 비율이 가장 높은 역을 찾는다.
## - 비율이 가장높은 역이 어디인지, 비율이 얼마인지 출력

In [25]:
subway_raw['유임/무임'] = subway_raw['유임승차']/subway_raw['무임승차']
subway_raw['유임승차비율'] = (subway_raw['유임승차']/(subway_raw['무임승차']+subway_raw['유임승차']))
subway_raw['무임승차비율'] = (subway_raw['무임승차']/(subway_raw['무임승차']+subway_raw['유임승차']))

subway_raw.head(10)

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,유임승차비율,무임승차비율,유임/무임
0,2024-03,1호선,150,서울역,1447754,1393734,227062,217639,0.864426,0.135574,6.376029
1,2024-03,1호선,151,시청,664265,656796,111445,108138,0.856332,0.143668,5.960474
2,2024-03,1호선,152,종각,964737,946524,152686,142688,0.863359,0.136641,6.318438
3,2024-03,1호선,153,종로3가,499200,462956,310535,287412,0.616498,0.383502,1.607548
4,2024-03,1호선,154,종로5가,507635,495448,270416,260685,0.652444,0.347556,1.877237
5,2024-03,1호선,155,동대문,247676,248695,137903,139140,0.642348,0.357652,1.796016
6,2024-03,1호선,156,신설동,307664,296760,131660,127945,0.700312,0.299688,2.336807
7,2024-03,1호선,157,제기동,247757,240496,284893,302034,0.465140,0.534860,0.869649
8,2024-03,1호선,158,청량리(서울시립대입구),416357,402220,303404,304789,0.578466,0.421534,1.372286
9,2024-03,1호선,159,동묘앞,169654,179509,183569,185429,0.480303,0.519697,0.924197

In [28]:
subway_raw.sort_values(by='유임/무임', ascending=False).head(15)

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,유임승차비율,무임승차비율,유임/무임
336,2024-03,경의선,1297,검암,3,0,0,0,1.000000,0.000000,inf
526,2024-03,7호선,2753,까치울,2,0,0,0,1.000000,0.000000,inf
335,2024-03,경의선,1296,계양,3,0,0,0,1.000000,0.000000,inf
527,2024-03,7호선,2755,춘의,1,0,0,0,1.000000,0.000000,inf
334,2024-03,경의선,1295,김포공항,1,0,0,0,1.000000,0.000000,inf
483,2024-03,6호선,2649,신내,16,0,0,0,1.000000,0.000000,inf
72,2024-03,3호선,321,충무로,261,0,1,0,0.996183,0.003817,261.000000
240,2024-03,분당선,1031,복정,168,0,2,0,0.988235,0.011765,84.000000
269,2024-03,일산선,1949,지축,61,0,1,0,0.983871,0.016129,61.000000
192,2024-03,경원선,1022,창동,92,0,3,0,0.968421,0.031579,30.666667
449,2024-03,6호선,2615,연신내,119,0,4,0,0.967480,0.032520,29.750000
18,2024-03,2호선,209,한양대,381269,433076,14528,15614,0.963294,0.036706,26.243736
48,2024-03,2호선,239,홍대입구,2185511,2360413,102715,99837,0.955112,0.044888,21.277428
573,2024-03,공항철도 1호선,4203,홍대입구,445365,435472,22015,19851,0.952897,0.047103,20.230070
466,2024-03,6호선,2632,한강진,298690,350711,17887,17641,0.943499,0.056501,16.698720

In [26]:
subway_raw.sort_values(by='유임승차비율', ascending=False).head(15)

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,유임승차비율,무임승차비율,유임/무임
336,2024-03,경의선,1297,검암,3,0,0,0,1.000000,0.000000,inf
526,2024-03,7호선,2753,까치울,2,0,0,0,1.000000,0.000000,inf
335,2024-03,경의선,1296,계양,3,0,0,0,1.000000,0.000000,inf
527,2024-03,7호선,2755,춘의,1,0,0,0,1.000000,0.000000,inf
334,2024-03,경의선,1295,김포공항,1,0,0,0,1.000000,0.000000,inf
483,2024-03,6호선,2649,신내,16,0,0,0,1.000000,0.000000,inf
72,2024-03,3호선,321,충무로,261,0,1,0,0.996183,0.003817,261.000000
240,2024-03,분당선,1031,복정,168,0,2,0,0.988235,0.011765,84.000000
269,2024-03,일산선,1949,지축,61,0,1,0,0.983871,0.016129,61.000000
192,2024-03,경원선,1022,창동,92,0,3,0,0.968421,0.031579,30.666667
449,2024-03,6호선,2615,연신내,119,0,4,0,0.967480,0.032520,29.750000
18,2024-03,2호선,209,한양대,381269,433076,14528,15614,0.963294,0.036706,26.243736
48,2024-03,2호선,239,홍대입구,2185511,2360413,102715,99837,0.955112,0.044888,21.277428
573,2024-03,공항철도 1호선,4203,홍대입구,445365,435472,22015,19851,0.952897,0.047103,20.230070
466,2024-03,6호선,2632,한강진,298690,350711,17887,17641,0.943499,0.056501,16.698720

In [27]:
subway_raw.sort_values(by='무임승차비율', ascending=False).head(15)

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,유임승차비율,무임승차비율,유임/무임
208,2024-03,경원선,1916,소요산,15121,14839,42303,41016,0.263322,0.736678,0.357445
211,2024-03,경원선,1919,연천,13715,12867,25063,26071,0.353680,0.646320,0.547221
329,2024-03,경의선,1286,운천,88,23,131,123,0.401826,0.598174,0.671756
350,2024-03,경춘선,1324,굴봉산,1347,1483,1983,1938,0.404505,0.595495,0.679274
297,2024-03,중앙선,1218,원덕,5192,5164,6774,6571,0.433896,0.566104,0.766460
299,2024-03,중앙선,1220,지평,918,1021,1128,1173,0.448680,0.551320,0.813830
7,2024-03,1호선,157,제기동,247757,240496,284893,302034,0.465140,0.534860,0.869649
298,2024-03,중앙선,1219,용문,32180,31409,36882,36594,0.465958,0.534042,0.872512
292,2024-03,중앙선,1213,신원,3238,2639,3519,3137,0.479207,0.520793,0.920148
9,2024-03,1호선,159,동묘앞,169654,179509,183569,185429,0.480303,0.519697,0.924197
348,2024-03,경춘선,1322,상천,4677,4320,4916,4690,0.487543,0.512457,0.951383
295,2024-03,중앙선,1216,오빈,4714,4644,4791,4955,0.495950,0.504050,0.983928
604,2024-03,우이신설선,4707,삼양사거리,40526,40413,40416,40060,0.500679,0.499321,1.002722
328,2024-03,경의선,1285,임진강,535,443,505,388,0.514423,0.485577,1.059406
610,2024-03,우이신설선,4713,신설동,37555,37923,34683,30783,0.519879,0.480121,1.082807