# 지하철 시간대별 데이터 시각화

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import platform
%matplotlib inline

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown System... Sorry~~~')

## 1. 이용 현황 데이터 정제

### (1) 지하철 시간대별 데이터 파일로드
### (2) 데이터 중 0이 들어 있는 데이터 행 제거
### (3) '사용월', '작업일시' 컬럼 삭제
### (4) 데이터프레임에서 2번째 줄 헤더 삭제
### (5) 시간대가 포함된 열명을 '000 승차'로 변경

In [2]:
subway_raw = pd.read_csv('./data/subway_time_202403.csv', encoding='utf-8')
subway_raw.head()

,사용월,호선명,역ID,지하철역,04:00:00~04:59:59,Unnamed: 5,05:00:00~05:59:59,Unnamed: 7,06:00:00~06:59:59,Unnamed: 9,...,Unnamed: 43,00:00:00~00:59:59,Unnamed: 45,01:00:00~01:59:59,Unnamed: 47,02:00:00~02:59:59,Unnamed: 49,03:00:00~03:59:59,Unnamed: 51,작업일시
0,NaN,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,...,하차,승차,하차,승차,하차,승차,하차,승차,하차,NaN
1,2024-03,1호선,150.0,서울역,686,25,"8,354","8,884","13,709","59,387",...,"15,365","2,922","3,882",0,249,0,0,0,0,2024-04-03 10:09:27
2,2024-03,1호선,151.0,시청,90,2,"2,209","5,148","4,267","26,852",...,"4,609",588,"1,325",0,44,0,0,0,0,2024-04-03 10:09:27
3,2024-03,1호선,152.0,종각,166,8,"3,937","5,736","4,593","30,251",...,"4,695","1,724","1,489",0,0,0,0,0,0,2024-04-03 10:09:27
4,2024-03,1호선,153.0,종로3가,181,14,"4,155","2,562","3,762","12,688",...,"5,336","1,532","2,489",0,43,0,0,0,0,2024-04-03 10:09:27

In [3]:
subway_raw.drop(['사용월','작업일시'], axis = 1, inplace=True)

In [4]:
subway_raw

,호선명,역ID,지하철역,04:00:00~04:59:59,Unnamed: 5,05:00:00~05:59:59,Unnamed: 7,06:00:00~06:59:59,Unnamed: 9,07:00:00~07:59:59,...,23:00:00~23:59:59,Unnamed: 43,00:00:00~00:59:59,Unnamed: 45,01:00:00~01:59:59,Unnamed: 47,02:00:00~02:59:59,Unnamed: 49,03:00:00~03:59:59,Unnamed: 51
0,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,승차,...,승차,하차,승차,하차,승차,하차,승차,하차,승차,하차
1,1호선,150.0,서울역,686,25,"8,354","8,884","13,709","59,387","43,653",...,"27,169","15,365","2,922","3,882",0,249,0,0,0,0
2,1호선,151.0,시청,90,2,"2,209","5,148","4,267","26,852","8,516",...,"10,115","4,609",588,"1,325",0,44,0,0,0,0
3,1호선,152.0,종각,166,8,"3,937","5,736","4,593","30,251","6,932",...,"27,626","4,695","1,724","1,489",0,0,0,0,0,0
4,1호선,153.0,종로3가,181,14,"4,155","2,562","3,762","12,688","6,021",...,"17,041","5,336","1,532","2,489",0,43,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,신림선,4407.0,당곡,1,0,"2,138",222,"4,505","1,351","13,953",...,"1,021","4,254",219,"1,343",0,0,0,0,0,0
619,신림선,4408.0,신림,3,0,"1,056",285,"1,484",822,"4,465",...,885,"2,061",320,685,0,3,0,0,0,0
620,신림선,4409.0,서원,0,0,"2,351",276,"4,480",800,"14,425",...,489,"4,522",114,"1,502",2,2,0,0,0,0
621,신림선,4410.0,서울대벤처타운,10,0,"6,230",539,"10,451","4,122","32,093",...,"2,122","12,669",544,"5,434",0,177,0,0,0,0
622,신림선,4411.0,관악산(서울대),3,1,885,665,"1,916","1,671","5,828",...,504,"1,868",169,802,0,47,0,0,0,0

In [5]:
for n in range(3, len(subway_raw.columns)):
    if 'Unnamed' in subway_raw.columns[n]:
        prev_column_name = subway_raw.columns[n-1]
        if '승차' in prev_column_name:
            prev_column_name = prev_column_name.replace(' 승차', '')
        subway_raw.rename(columns={subway_raw.columns[n]: str(prev_column_name) + ' ' + str(subway_raw.iloc[0, n])} , inplace=True)
    else:
        subway_raw.rename(columns={subway_raw.columns[n]: str(subway_raw.columns[n]) + ' ' + str(subway_raw.iloc[0, n])} , inplace=True)

subway_raw

,호선명,역ID,지하철역,04:00:00~04:59:59 승차,04:00:00~04:59:59 하차,05:00:00~05:59:59 승차,05:00:00~05:59:59 하차,06:00:00~06:59:59 승차,06:00:00~06:59:59 하차,07:00:00~07:59:59 승차,...,23:00:00~23:59:59 승차,23:00:00~23:59:59 하차,00:00:00~00:59:59 승차,00:00:00~00:59:59 하차,01:00:00~01:59:59 승차,01:00:00~01:59:59 하차,02:00:00~02:59:59 승차,02:00:00~02:59:59 하차,03:00:00~03:59:59 승차,03:00:00~03:59:59 하차
0,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,승차,...,승차,하차,승차,하차,승차,하차,승차,하차,승차,하차
1,1호선,150.0,서울역,686,25,"8,354","8,884","13,709","59,387","43,653",...,"27,169","15,365","2,922","3,882",0,249,0,0,0,0
2,1호선,151.0,시청,90,2,"2,209","5,148","4,267","26,852","8,516",...,"10,115","4,609",588,"1,325",0,44,0,0,0,0
3,1호선,152.0,종각,166,8,"3,937","5,736","4,593","30,251","6,932",...,"27,626","4,695","1,724","1,489",0,0,0,0,0,0
4,1호선,153.0,종로3가,181,14,"4,155","2,562","3,762","12,688","6,021",...,"17,041","5,336","1,532","2,489",0,43,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,신림선,4407.0,당곡,1,0,"2,138",222,"4,505","1,351","13,953",...,"1,021","4,254",219,"1,343",0,0,0,0,0,0
619,신림선,4408.0,신림,3,0,"1,056",285,"1,484",822,"4,465",...,885,"2,061",320,685,0,3,0,0,0,0
620,신림선,4409.0,서원,0,0,"2,351",276,"4,480",800,"14,425",...,489,"4,522",114,"1,502",2,2,0,0,0,0
621,신림선,4410.0,서울대벤처타운,10,0,"6,230",539,"10,451","4,122","32,093",...,"2,122","12,669",544,"5,434",0,177,0,0,0,0
622,신림선,4411.0,관악산(서울대),3,1,885,665,"1,916","1,671","5,828",...,504,"1,868",169,802,0,47,0,0,0,0

In [6]:
subway_raw.drop(0, axis = 0,  inplace =True)

In [7]:
subway_copy = subway_raw.copy()

In [8]:
subway_copy.head()

,호선명,역ID,지하철역,04:00:00~04:59:59 승차,04:00:00~04:59:59 하차,05:00:00~05:59:59 승차,05:00:00~05:59:59 하차,06:00:00~06:59:59 승차,06:00:00~06:59:59 하차,07:00:00~07:59:59 승차,...,23:00:00~23:59:59 승차,23:00:00~23:59:59 하차,00:00:00~00:59:59 승차,00:00:00~00:59:59 하차,01:00:00~01:59:59 승차,01:00:00~01:59:59 하차,02:00:00~02:59:59 승차,02:00:00~02:59:59 하차,03:00:00~03:59:59 승차,03:00:00~03:59:59 하차
1,1호선,150.0,서울역,686,25,"8,354","8,884","13,709","59,387","43,653",...,"27,169","15,365","2,922","3,882",0,249,0,0,0,0
2,1호선,151.0,시청,90,2,"2,209","5,148","4,267","26,852","8,516",...,"10,115","4,609",588,"1,325",0,44,0,0,0,0
3,1호선,152.0,종각,166,8,"3,937","5,736","4,593","30,251","6,932",...,"27,626","4,695","1,724","1,489",0,0,0,0,0,0
4,1호선,153.0,종로3가,181,14,"4,155","2,562","3,762","12,688","6,021",...,"17,041","5,336","1,532","2,489",0,43,0,0,0,0
5,1호선,154.0,종로5가,58,1,"2,084","3,639","3,293","16,308","6,024",...,"6,554","4,121",401,"1,456",0,1,0,0,0,0

In [79]:
import re
from pandas.api.types import is_string_dtype

for n in subway_copy.columns:
    if '~' in n:
        if is_string_dtype(subway_copy[n]):
            subway_copy[n] = subway_copy[n].str.replace(',','').astype('int64')

subway_copy['역ID'] = subway_copy['역ID'].astype('int64')

In [40]:
subway_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622 entries, 1 to 622
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   호선명                   622 non-null    object
 1   역ID                   622 non-null    int64
 2   지하철역                  622 non-null    object
 3   04:00:00~04:59:59 승차  622 non-null    int64
 4   04:00:00~04:59:59 하차  622 non-null    int64
 5   05:00:00~05:59:59 승차  622 non-null    int64
 6   05:00:00~05:59:59 하차  622 non-null    int64
 7   06:00:00~06:59:59 승차  622 non-null    int64
 8   06:00:00~06:59:59 하차  622 non-null    int64
 9   07:00:00~07:59:59 승차  622 non-null    int64
 10  07:00:00~07:59:59 하차  622 non-null    int64
 11  08:00:00~08:59:59 승차  622 non-null    int64
 12  08:00:00~08:59:59 하차  622 non-null    int64
 13  09:00:00~09:59:59 승차  622 non-null    int64
 14  09:00:00~09:59:59 하차  622 non-null    int64
 15  10:00:00~10:59:59 승차  622 non-null    int64
 16  10:00:00~10:59:59 하차  622 non-null    int64
 17  11:00:00~11:59:59 승차  622 non-null    int64
 18  11:00:00~11:59:59 하차  622 non-null    int64
 19  12:00:00~12:59:59 승차  622 non-null    int64
 20  12:00:00~12:59:59 하차  622 non-null    int64
 21  13:00:00~13:59:59 승차  622 non-null    int64
 22  13:00:00~13:59:59 하차  622 non-null    int64
 23  14:00:00~14:59:59 승차  622 non-null    int64
 24  14:00:00~14:59:59 하차  622 non-null    int64
 25  15:00:00~15:59:59 승차  622 non-null    int64
 26  15:00:00~15:59:59 하차  622 non-null    int64
 27  16:00:00~16:59:59 승차  622 non-null    int64
 28  16:00:00~16:59:59 하차  622 non-null    int64
 29  17:00:00~17:59:59 승차  622 non-null    int64
 30  17:00:00~17:59:59 하차  622 non-null    int64
 31  18:00:00~18:59:59 승차  622 non-null    int64
 32  18:00:00~18:59:59 하차  622 non-null    int64
 33  19:00:00~19:59:59 승차  622 non-null    int64
 34  19:00:00~19:59:59 하차  622 non-null    int64
 35  20:00:00~20:59:59 승차  622 non-null    int64
 36  20:00:00~20:59:59 하차  622 non-null    int64
 37  21:00:00~21:59:59 승차  622 non-null    int64
 38  21:00:00~21:59:59 하차  622 non-null    int64
 39  22:00:00~22:59:59 승차  622 non-null    int64
 40  22:00:00~22:59:59 하차  622 non-null    int64
 41  23:00:00~23:59:59 승차  622 non-null    int64
 42  23:00:00~23:59:59 하차  622 non-null    int64
 43  00:00:00~00:59:59 승차  622 non-null    int64
 44  00:00:00~00:59:59 하차  622 non-null    int64
 45  01:00:00~01:59:59 승차  622 non-null    int64
 46  01:00:00~01:59:59 하차  622 non-null    int64
 47  02:00:00~02:59:59 승차  622 non-null    int64
 48  02:00:00~02:59:59 하차  622 non-null    int64
 49  03:00:00~03:59:59 승차  622 non-null    int64
 50  03:00:00~03:59:59 하차  622 non-null    int64
 51  7시부터9시                622 non-null    int64
 52  7시부터9시승차인원            622 non-null    int64
dtypes: int64(51), object(2)
memory usage: 257.7+ KB

In [70]:
subway_copy['출근시간 승차인원'] = subway_copy['07:00:00~07:59:59 승차'] + subway_copy['08:00:00~08:59:59 승차'] + subway_copy['08:00:00~08:59:59 승차']

In [71]:
subway_copy['출근시간 승차인원']

1      189459
2       32936
3       30252
4       26317
5       27764
        ...
618     52765
619     18167
620     53487
621    122105
622     18910
Name: 출근시간 승차인원, Length: 622, dtype: int64

In [72]:
subway_copy.sort_values(by='출근시간 승차인원', ascending=False).iloc[0]['지하철역']

'신림'

In [74]:
subway_copy.sort_values(by='출근시간 승차인원', ascending=False).iloc[0]['출근시간 승차인원']

709240

In [75]:
subway_copy.sort_values(by='15:00:00~15:59:59 승차', ascending=False).iloc[0]['지하철역']

'강남'

In [76]:
subway_copy.sort_values(by='15:00:00~15:59:59 하차', ascending=False).iloc[0]['지하철역']

'홍대입구'

In [77]:
subway_copy.sort_values(by='16:00:00~16:59:59 승차', ascending=False).iloc[0]['지하철역']

'강남'

In [78]:
subway_copy.sort_values(by='16:00:00~16:59:59 하차', ascending=False).iloc[0]['지하철역']

'홍대입구'