# <데이터프레임 연습문제>

### (1) pandas를 import

In [3]:
import pandas as pd

### (2) 'Salaries.csv'파일 읽어서 데이터프레임 변수 sal 에 저장

In [4]:
sal = pd.read_csv('Salaries.csv', encoding='utf-8')

### (3) 데이터프레임의 head값을 확인

In [32]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,total,Total
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,NaN,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,NaN,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,NaN,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,NaN,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,NaN,NaN

### (4) info() 메소드를 사용하여 값의 갯수와 타입을 확인.

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

### (5) BasePay의 평균값은 얼마인가

In [18]:
sal['BasePay']

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: BasePay, Length: 148654, dtype: float64

In [19]:
sal['BasePay'].mean()

66325.4488404877

### (6) OvertimePay에서 가장 큰 값은 얼마인가?

In [20]:
sal['OvertimePay'].max()

245131.88

### (7) JOSEPH DRISCOLL의 직책(JOB TITLE)은 무엇인가?

In [22]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

### (8) JOSEPH DRISCOLL은 총 얼마(benefits 포함 급여) 를 버는가?

In [40]:

sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

### (9) 가장 높은 급여(Benefits 포함급여)를 받는 사람의 이름은 무엇인가?

In [45]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

### (10) 가장 낮은 급여(Benefits 포함급여)를 받는 사람의 이름은 무엇인가? 급여값 확인.

In [46]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [47]:
sal[sal['EmployeeName'] == 'Joe Lopez']['TotalPayBenefits']

148653   -618.13
Name: TotalPayBenefits, dtype: float64

### (11) 년도별 모든 사원의 기본 급여 평균은 얼마인가?

In [53]:
sal_year = sal.groupby('Year')
sal_year['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

### (12) 중복값을 제외한 직급 (job title)의 갯수는 몇개인가

In [132]:
sal['JobTitle'].nunique()

2159

In [128]:
sal_job = sal.groupby('JobTitle')
sal_job['JobTitle'].count()

JobTitle
ACCOUNT CLERK                                      83
ACCOUNTANT                                          5
ACCOUNTANT INTERN                                  48
ACPO,JuvP, Juv Prob (SFERS)                         1
ACUPUNCTURIST                                       1
                                                 ...
X-RAY LABORATORY AIDE                              26
X-Ray Laboratory Aide                             100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      1
Youth Comm Advisor                                  4
ZOO CURATOR                                         1
Name: JobTitle, Length: 2159, dtype: int64

### (13) 가장 많이 갖고 있는 직종 5개는 무엇이고 몇개 인가.

In [133]:
top_job_titles = sal['JobTitle'].value_counts()
top_job_titles.sort_values(ascending = False).head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

### (14) 2013년에 오직 한 사람 한테만 부여된 직책은 몇개 인가?

In [141]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202


### (15) 직책에 Chief가 들어간 사람은 몇명인가?

In [154]:
chief_jobs = (sal[sal['JobTitle'].str.contains('Chief', case=False)])
chief_jobs['Id'].count()

627

In [153]:
def title_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False
    
sum(sal['JobTitle'].apply(title_string))
# 람다식으로 표현
sum(sal['JobTitle'].apply(lambda x : title_string(x)))

627