# 서울시 범죄 현황 분석

#### 강남3구가 체감안전도 높은지 검증
#### 범죄 발생률, 검거율을 지표로 사용

In [22]:
import numpy as np
import pandas as pd

In [23]:
crime_analysis_police = pd.read_csv('./data/02. crime_in_Seoul.csv', thousands=',', encoding='euc-kr')
crime_analysis_police

     관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0    중부서      2      2      3      2    105     65   1395    477   1355   1170
1    종로서      3      3      6      5    115     98   1070    413   1278   1070
2   남대문서      1      0      6      4     65     46   1153    382    869    794
3   서대문서      2      2      5      4    154    124   1812    738   2056   1711
4    혜화서      3      2      5      4     96     63   1114    424   1015    861
5    용산서      5      5     14     14    194    173   1557    587   2050   1704
6    성북서      2      2      2      1     86     71    953    409   1194   1015
7   동대문서      5      5     13     13    173    146   1981    814   2548   2227
8    마포서      8      8     14     10    294    247   2555    813   2983   2519
9   영등포서     14     12     22     20    295    183   2964    978   3572   2961
10   성동서      4      4      9      8    126    119   1607    597   1612   1395
11   동작서      5      5      9      5    285    139   1865    661   1910   1587
12   광진서      4      4     14     26    240    220   3026   1277   2625   2180
13   서부서      2      2      2      1     70     59    819    293   1192   1038
14   강북서      7      8     14     13    153    126   1434    618   2649   2348
15   금천서      3      4      6      6    151    122   1567    888   2054   1776
16   중랑서     13     12     11      9    187    148   2135    829   2847   2407
17   강남서      3      3     15     12    300    225   2411    984   2465   2146
18   관악서      9      8     12     14    320    221   2706    827   3298   2642
19   강서서      7      8     13     13    262    191   2096   1260   3207   2718
20   강동서      4      3      6      8    156    123   2366    789   2712   2248
21   종암서      3      3      3      3     64     53    832    332   1015    840
22   구로서      8      6     15     11    281    164   2335    889   3007   2432
23   서초서      7      4      8      5    334    193   1982    905   1852   1607
24   양천서      3      5      6      3    120    105   1890    672   2509   2030
25   송파서     11     10     13     10    220    178   3239   1129   3295   2786
26   노원서     10     10      7      7    197    121   2193    801   2723   2329
27   방배서      1      2      1      1     59     56    653    186    547    491
28   은평서      1      1      7      5     96     82   1095    418   1461   1268
29   도봉서      3      3      9     10    102    106   1063    478   1487   1303
30   수서서     10      7      6      6    149    124   1439    666   1819   1559

### Anaconda Prompt Shell 에서 googlemaps 설치
### pop install googlemaps

In [24]:
import googlemaps

In [25]:
gmaps_key="AIzaSyBLzoCugz6jc9yqx7G-Zf0n4bd73ACkjSo"
gmaps = googlemaps.Client(key=gmaps_key)

In [26]:
gmaps.geocode('서울중부경찰서', language='ko')  #기관의 주소, 위도/경도 정보

[{'address_components': [{'long_name': '27',
    'short_name': '27',
    'types': ['premise']},
   {'long_name': '수표로',
    'short_name': '수표로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '중구',
    'short_name': '중구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '100-032',
    'short_name': '100-032',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 중구 수표로 27',
  'geometry': {'location': {'lat': 37.56361709999999, 'lng': 126.9896517},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5649660802915,
     'lng': 126.9910006802915},
    'southwest': {'lat': 37.5622681197085, 'lng': 126.9883027197085}}},
  'partial_match': True,
  'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
  'plus_code': {'compound_code': 'HX7Q+CV 대한민국 서울특별시',
   'global_code': '8Q98HX7Q+CV'},
  'types': ['establishment', 'point_of_interest']}]

In [27]:
station_name = []

for name in crime_analysis_police['관서명']:
    station_name.append('서울' + str(name[:-1]) + '경찰서')

station_name

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [28]:
station_address = []
station_lat = []
station_lng = []

for name in station_name:
    tmp = gmaps.geocode(name, language='ko')
    station_address.append(tmp[0].get("formatted_address"))
    tmp_loc = tmp[0].get('geometry')
    station_lat.append(tmp_loc['location']['lat'])
    station_lng.append(tmp_loc['location']['lng'])
    print(name + '-->' + tmp[0].get("formatted_address"))

서울중부경찰서-->대한민국 서울특별시 중구 수표로 27
서울종로경찰서-->대한민국 서울특별시 종로구 인사동5길 41
서울남대문경찰서-->대한민국 서울특별시 중구 한강대로 410
서울서대문경찰서-->대한민국 서울특별시 서대문구 통일로 113
서울혜화경찰서-->대한민국 서울특별시 종로구 창경궁로 112-16
서울용산경찰서-->대한민국 서울특별시 용산구 백범로 329
서울성북경찰서-->대한민국 서울특별시 성북구 보문로 170
서울동대문경찰서-->대한민국 서울특별시 동대문구 약령시로21길 29
서울마포경찰서-->대한민국 서울특별시 마포구 마포대로 183
서울영등포경찰서-->대한민국 서울특별시 영등포구 국회대로 608
서울성동경찰서-->대한민국 서울특별시 성동구 왕십리광장로 9
서울동작경찰서-->대한민국 서울특별시 동작구 본동
서울광진경찰서-->대한민국 서울특별시 광진구 자양로 167
서울서부경찰서-->대한민국 서울특별시 은평구 진흥로 58
서울강북경찰서-->대한민국 서울특별시 강북구 오패산로 406
서울금천경찰서-->대한민국 서울특별시 금천구 시흥대로73길 50
서울중랑경찰서-->대한민국 서울특별시 중랑구 묵제2동 249-2
서울강남경찰서-->대한민국 서울특별시 강남구 테헤란로114길 11
서울관악경찰서-->대한민국 서울특별시 관악구 관악로5길 33
서울강서경찰서-->대한민국 서울특별시 강서구 화곡로 308
서울강동경찰서-->대한민국 서울특별시 강동구 성내로 57
서울종암경찰서-->대한민국 서울특별시 성북구 화랑로7길 32
서울구로경찰서-->대한민국 서울특별시 구로구 새말로 97 신도림테크노마트 5층
서울서초경찰서-->대한민국 서울특별시 서초구 반포대로 179
서울양천경찰서-->대한민국 서울특별시 양천구 목동동로 99
서울송파경찰서-->대한민국 서울특별시 송파구 중대로 221
서울노원경찰서-->대한민국 서울특별시 노원구 노원로 283
서울방배경찰서-->대한민국 서울특별시 서초구 동작대로 204
서울은평경찰서-->대한민국 서울특별시 은평구 연서로 365
서울도봉경찰서-->대한민국 서울특별시 도봉구 노해로 403
서울수서경찰서-->대한민국 서울특별시 강남구 개포로 617

In [29]:
station_lat

[37.56361709999999,
 37.571824,
 37.5547584,
 37.5647439,
 37.5719679,
 37.5387099,
 37.5898228,
 37.58506149999999,
 37.550814,
 37.5260441,
 37.56169149999999,
 37.5138235,
 37.5428231,
 37.6020914,
 37.63719740000001,
 37.4568129,
 37.6056429,
 37.5094352,
 37.4743945,
 37.5513622,
 37.528511,
 37.603989,
 37.5074418,
 37.4954676,
 37.5167711,
 37.5019044,
 37.6421389,
 37.4945959,
 37.6280204,
 37.6533589,
 37.49349]

In [30]:
station_lng

[126.9896517,
 126.9841533,
 126.9734981,
 126.9667705,
 126.9989574,
 126.9659183,
 127.0163427,
 127.0457679,
 126.954028,
 126.9008091,
 127.0363006,
 126.953907,
 127.0838395,
 126.9213528,
 127.0273048,
 126.8968061,
 127.0764866,
 127.0669578,
 126.9513489,
 126.8502799,
 127.1268224,
 127.039937,
 126.8902237,
 127.0053395,
 126.8656996,
 127.1271338,
 127.0710473,
 126.9831279,
 126.9287899,
 127.052682,
 127.0772119]

### 각 관서별 정보에 '구별' 컬럼 추가

In [31]:
gu_name = []

for name in station_address:
    tmp = name.split()
    tmp_gu = [gu for gu in tmp if gu[-1] == '구'][0]
    gu_name.append(tmp_gu)

crime_analysis_police['구별'] = gu_name
crime_analysis_police

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구
5,용산서,5,5,14,14,194,173,1557,587,2050,1704,용산구
6,성북서,2,2,2,1,86,71,953,409,1194,1015,성북구
7,동대문서,5,5,13,13,173,146,1981,814,2548,2227,동대문구
8,마포서,8,8,14,10,294,247,2555,813,2983,2519,마포구
9,영등포서,14,12,22,20,295,183,2964,978,3572,2961,영등포구
10,성동서,4,4,9,8,126,119,1607,597,1612,1395,성동구
11,동작서,5,5,9,5,285,139,1865,661,1910,1587,동작구
12,광진서,4,4,14,26,240,220,3026,1277,2625,2180,광진구
13,서부서,2,2,2,1,70,59,819,293,1192,1038,은평구
14,강북서,7,8,14,13,153,126,1434,618,2649,2348,강북구
15,금천서,3,4,6,6,151,122,1567,888,2054,1776,금천구
16,중랑서,13,12,11,9,187,148,2135,829,2847,2407,중랑구
17,강남서,3,3,15,12,300,225,2411,984,2465,2146,강남구
18,관악서,9,8,12,14,320,221,2706,827,3298,2642,관악구
19,강서서,7,8,13,13,262,191,2096,1260,3207,2718,강서구
20,강동서,4,3,6,8,156,123,2366,789,2712,2248,강동구
21,종암서,3,3,3,3,64,53,832,332,1015,840,성북구
22,구로서,8,6,15,11,281,164,2335,889,3007,2432,구로구
23,서초서,7,4,8,5,334,193,1982,905,1852,1607,서초구
24,양천서,3,5,6,3,120,105,1890,672,2509,2030,양천구
25,송파서,11,10,13,10,220,178,3239,1129,3295,2786,송파구
26,노원서,10,10,7,7,197,121,2193,801,2723,2329,노원구
27,방배서,1,2,1,1,59,56,653,186,547,491,서초구
28,은평서,1,1,7,5,96,82,1095,418,1461,1268,은평구
29,도봉서,3,3,9,10,102,106,1063,478,1487,1303,도봉구
30,수서서,10,7,6,6,149,124,1439,666,1819,1559,강남구

### pandas 의 pivot_table 기능

In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_excel('./data/02. sales-funnel.xlsx')
df

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [34]:
# 인덱스를 Manager와 Rep로 그룹을 나누고, 값을 Price 컬럼으로 설정.
# Pivot_table 에서 값이 기본적으로 평균값으로 설정됨. 
pd.pivot_table(df, index=["Manager", "Rep"], values=["Price"])

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

In [35]:
# Price를 합산한 금액으로 계산
pd.pivot_table(df, index=["Manager", "Rep"], values=["Price"], aggfunc=np.sum)

C:\Users\602-01\AppData\Local\Temp\ipykernel_5416\4185615659.py:2: FutureWarning: The provided callable <function sum at 0x000001D47BEC9940> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(df, index=["Manager", "Rep"], values=["Price"], aggfunc=np.sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [36]:
# 빈칸을 0으로 채우기
pd.pivot_table(df, index=["Manager", "Rep", "Product"], values=["Price", "Quantity"], 
               aggfunc=[np.sum, np.mean], fill_value=0, margins=True)

C:\Users\602-01\AppData\Local\Temp\ipykernel_5416\2525967280.py:2: FutureWarning: The provided callable <function sum at 0x000001D47BEC9940> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(df, index=["Manager", "Rep", "Product"], values=["Price", "Quantity"],
C:\Users\602-01\AppData\Local\Temp\ipykernel_5416\2525967280.py:2: FutureWarning: The provided callable <function mean at 0x000001D47BECAA20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(df, index=["Manager", "Rep", "Product"], values=["Price", "Quantity"],

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

# pivot_table을 이용해서 범죄율 데이터 정리

## '구별' 컬럼이 저장된 파일을 원본으로 읽기

In [37]:
crime_analysis_raw = pd.read_csv('./data/02. crime_in_Seoul_include_gu_name.csv', encoding = 'utf=8')
crime_analysis_raw.head()

,Unnamed: 0,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [38]:
crime_analysis = pd.pivot_table(crime_analysis_raw, index='구별' , aggfunc= np.sum)
crime_analysis.head()

C:\Users\602-01\AppData\Local\Temp\ipykernel_5416\3677303857.py:1: FutureWarning: The provided callable <function sum at 0x000001D47BEC9940> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  crime_analysis = pd.pivot_table(crime_analysis_raw, index='구별' , aggfunc= np.sum)

,Unnamed: 0,강간 검거,강간 발생,강도 검거,강도 발생,관서명,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생
구별,,,,,,,,,,,,
강남구,47,349,449,18,21,강남서수서서,10,13,1650,3850,3705,4284
강동구,20,123,156,8,6,강동서,3,4,789,2366,2248,2712
강북구,14,126,153,13,14,강북서,8,7,618,1434,2348,2649
관악구,18,221,320,14,12,관악서,8,9,827,2706,2642,3298
광진구,12,220,240,26,14,광진서,4,4,1277,3026,2180,2625

In [39]:
crime_analysis['강간검거율']=crime_analysis['강간 검거']/crime_analysis['강간 발생']*100
crime_analysis['강도검거율']=crime_analysis['강도 검거']/crime_analysis['강도 발생']*100
crime_analysis['살인검거율']=crime_analysis['살인 검거']/crime_analysis['살인 발생']*100
crime_analysis['절도검거율']=crime_analysis['절도 검거']/crime_analysis['절도 발생']*100
crime_analysis['폭력검거율']=crime_analysis['폭력 검거']/crime_analysis['폭력 발생']*100

In [40]:
del crime_analysis['강간 검거']
del crime_analysis['강도 검거']
del crime_analysis['살인 검거']
del crime_analysis['절도 검거']
del crime_analysis['폭력 검거']

In [41]:
crime_analysis.head()

,Unnamed: 0,강간 발생,강도 발생,관서명,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,,
강남구,47,449,21,강남서수서서,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,20,156,6,강동서,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,14,153,14,강북서,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
관악구,18,320,12,관악서,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157
광진구,12,240,14,광진서,4,3026,2625,91.666667,185.714286,100.000000,42.200925,83.047619

In [42]:
# 검거율에서 100%가 넘는 값은 100으로 수정
con_list = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']

for column in con_list:
    crime_analysis.loc[crime_analysis[column] > 100, column] = 100

crime_analysis

,Unnamed: 0,강간 발생,강도 발생,관서명,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,,
강남구,47,449,21,강남서수서서,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,20,156,6,강동서,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,14,153,14,강북서,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
관악구,18,320,12,관악서,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157
광진구,12,240,14,광진서,4,3026,2625,91.666667,100.000000,100.000000,42.200925,83.047619
구로구,22,281,15,구로서,8,2335,3007,58.362989,73.333333,75.000000,38.072805,80.877951
금천구,15,151,6,금천서,3,1567,2054,80.794702,100.000000,100.000000,56.668794,86.465433
노원구,26,197,7,노원서,10,2193,2723,61.421320,100.000000,100.000000,36.525308,85.530665
도봉구,29,102,9,도봉서,3,1063,1487,100.000000,100.000000,100.000000,44.967074,87.626093
동대문구,7,173,13,동대문서,5,1981,2548,84.393064,100.000000,100.000000,41.090358,87.401884
동작구,11,285,9,동작서,5,1865,1910,48.771930,55.555556,100.000000,35.442359,83.089005
마포구,8,294,14,마포서,8,2555,2983,84.013605,71.428571,100.000000,31.819961,84.445189
서대문구,3,154,5,서대문서,2,1812,2056,80.519481,80.000000,100.000000,40.728477,83.219844
서초구,50,393,9,서초서방배서,8,2635,2399,63.358779,66.666667,75.000000,41.404175,87.453105
성동구,10,126,9,성동서,4,1607,1612,94.444444,88.888889,100.000000,37.149969,86.538462
성북구,27,150,5,성북서종암서,5,1785,2209,82.666667,80.000000,100.000000,41.512605,83.974649
송파구,25,220,13,송파서,11,3239,3295,80.909091,76.923077,90.909091,34.856437,84.552352
양천구,43,382,19,강서서양천서,10,3986,5716,77.486911,84.210526,100.000000,48.469644,83.065080
영등포구,9,295,22,영등포서,14,2964,3572,62.033898,90.909091,85.714286,32.995951,82.894737
용산구,5,194,14,용산서,5,1557,2050,89.175258,100.000000,100.000000,37.700706,83.121951
은평구,41,166,9,서부서은평서,3,1914,2653,84.939759,66.666667,100.000000,37.147335,86.920467
종로구,5,211,11,종로서혜화서,6,2184,2293,76.303318,81.818182,83.333333,38.324176,84.212822
중구,2,170,9,중부서남대문서,3,2548,2224,65.294118,66.666667,66.666667,33.712716,88.309353
중랑구,16,187,11,중랑서,13,2135,2847,79.144385,81.818182,92.307692,38.829040,84.545135

In [43]:
crime_analysis.rename(columns = {'강간 발생':'강간',
                                '강도 발생':'강도',
                                '살인 발생':'살인',
                                '절도 발생':'절도',
                                '폭력 발생':'폭력'
                                }, inplace=True)
crime_analysis

,Unnamed: 0,강간,강도,관서명,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,,
강남구,47,449,21,강남서수서서,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,20,156,6,강동서,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,14,153,14,강북서,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
관악구,18,320,12,관악서,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157
광진구,12,240,14,광진서,4,3026,2625,91.666667,100.000000,100.000000,42.200925,83.047619
구로구,22,281,15,구로서,8,2335,3007,58.362989,73.333333,75.000000,38.072805,80.877951
금천구,15,151,6,금천서,3,1567,2054,80.794702,100.000000,100.000000,56.668794,86.465433
노원구,26,197,7,노원서,10,2193,2723,61.421320,100.000000,100.000000,36.525308,85.530665
도봉구,29,102,9,도봉서,3,1063,1487,100.000000,100.000000,100.000000,44.967074,87.626093
동대문구,7,173,13,동대문서,5,1981,2548,84.393064,100.000000,100.000000,41.090358,87.401884
동작구,11,285,9,동작서,5,1865,1910,48.771930,55.555556,100.000000,35.442359,83.089005
마포구,8,294,14,마포서,8,2555,2983,84.013605,71.428571,100.000000,31.819961,84.445189
서대문구,3,154,5,서대문서,2,1812,2056,80.519481,80.000000,100.000000,40.728477,83.219844
서초구,50,393,9,서초서방배서,8,2635,2399,63.358779,66.666667,75.000000,41.404175,87.453105
성동구,10,126,9,성동서,4,1607,1612,94.444444,88.888889,100.000000,37.149969,86.538462
성북구,27,150,5,성북서종암서,5,1785,2209,82.666667,80.000000,100.000000,41.512605,83.974649
송파구,25,220,13,송파서,11,3239,3295,80.909091,76.923077,90.909091,34.856437,84.552352
양천구,43,382,19,강서서양천서,10,3986,5716,77.486911,84.210526,100.000000,48.469644,83.065080
영등포구,9,295,22,영등포서,14,2964,3572,62.033898,90.909091,85.714286,32.995951,82.894737
용산구,5,194,14,용산서,5,1557,2050,89.175258,100.000000,100.000000,37.700706,83.121951
은평구,41,166,9,서부서은평서,3,1914,2653,84.939759,66.666667,100.000000,37.147335,86.920467
종로구,5,211,11,종로서혜화서,6,2184,2293,76.303318,81.818182,83.333333,38.324176,84.212822
중구,2,170,9,중부서남대문서,3,2548,2224,65.294118,66.666667,66.666667,33.712716,88.309353
중랑구,16,187,11,중랑서,13,2135,2847,79.144385,81.818182,92.307692,38.829040,84.545135